HERE_GRAPHQL_URL=https://here.is.here.io/analytics/api/graphql
HERE_JWT_SECRET=
HERE_ISS=
HERE_AUD=
HERE_SUB=
HERE_AUTH_ID=

# Only needed for: python scripts/pull_local.py --load
PGHOST=
PGPORT=5432
PGDATABASE=openfin
PGUSER=analytics_user1
PGPASSWORD=
# PGSSLMODE=require
